<div class="form-group">
    <h2>📱 Vos appareils</h2>
    <div class="option-grid">
        <label class="card-option">
            <input type="checkbox" name="devices[]" value="computer" class="device-checkbox">
            <div class="card-content">
                <div class="card-icon">💻</div>
                <div class="card-label">Ordinateur</div>
            </div>
        </label>
        <label class="card-option">
            <input type="checkbox" name="devices[]" value="smartphone" class="device-checkbox">
            <div class="card-content">
                <div class="card-icon">📱</div>
                <div class="card-label">Smartphone</div>
            </div>
        </label>
        <label class="card-option">
            <input type="checkbox" name="devices[]" value="tablet" class="device-checkbox">
            <div class="card-content">
                <div class="card-icon">📱</div>
                <div class="card-label">Tablette</div>
            </div>
        </label>
        <label class="card-option">
            <input type="checkbox" name="devices[]" value="other" class="device-checkbox">
            <div class="card-content">
                <div class="card-icon">🔧</div>
                <div class="card-label">Autres</div>
            </div>
        </label>
    </div>
</div>